<div id="<%= dom_id movement %>"
      class="p-6 rounded-lg shadow-lg flex font-bold <%= movement.saida? ? 'bg-red-700 text-slate-50' : 'bg-green-600 text-slate-50'%>">
  <span class="mr-2">
    <%= l movement.data %>
  </span>
    <span class="mr-2 flex-grow">
    <%= movement.description %>
  </span>
  <span>
    <%= number_to_currency movement.value %>
  </span>

</div>
